<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>메인</h1>
    
    <form action="/main/ad/fm/foodmenu/selectFoodMenuView.do?mi=1341" method="post"></form>
    
    <form action="/menu" method="post">
        <button type="submit">ddd</button>
    </form>


</body>
</html>