<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        회원가입 창
    </h1>
    <form action="/user/join" method="post">
        <input type="text" name="id" id="" placeholder="id">
        <br>
        <input type="password" name="pw" id="" placeholder="pw">
        <br>
        <input type="email" name="email" placeholder="email">
        <br>
        <button type="submit">인증</button>
        <br>
        <input type="text" name="code" placeholder="인증코드">
        <br>

    </form>
</body>
</html>